.month-tracker-item {
  width: 8rem;
  height: 8rem;

  border: 1px solid black;
  margin: 0 -1px -1px 0;
}

.month-tracker-item {
  cursor: pointer;
}

.day-number {
  margin-left: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
}
