.new-mood-main-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  width: 90%;
  margin: 0 auto;

  font-size: 1.6rem;
}

.new-mood-main-form select {
  /* appearance: none; */
}

.new-mood-main-form select,
.new-mood-main-form select option {
  font-family: 'Playfair Display', serif;
  font-size: inherit;
  font-weight: 500;
  background-color: #f9f4ed;
  border: none;
}

.really-happy {
  color: #ec6173;
}

.happy {
  color: #f1ae4a;
}

.ok {
  color: #6964ff;
}

.sad {
  color: #51a350;
}

.really-sad {
  color: #bd63be;
}

.new-mood-form-section {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.new-mood--actions {
  text-align: center;
}
