/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

body {
  font-family: 'Playfair Display', serif;
  /* font-style: italic; */
  line-height: 1;
  font-weight: 400;

  background-color: #f9f4ed;
}

.outside-container {
  display: flex;
  width: 100%;
}

.container {
  /* width: 90%; */
  /* margin: 0 auto; */
  margin-left: 4.8rem;
}

.😃 {
  color: #ec6173;
}

.😃-background {
  background-color: #ec6173;
}

.🙂 {
  color: #f1ae4a;
}

.🙂-background {
  background-color: #f1ae4a;
}

.😑 {
  color: #6964ff;
}

.😑-background {
  background-color: #6964ff;
}

.🙁 {
  color: #51a350;
}

.🙁-background {
  background-color: #51a350;
}

.😢 {
  color: #bd63be;
}

.😢-background {
  background-color: #bd63be;
}
