@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.heading-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  font-family: 'Dancing Script', cursive;

  letter-spacing: -0.4rem;

  margin-bottom: 6.2rem;
  margin-top: 1.2rem;

  text-align: center;
}

.heading-primary--first-word {
  font-size: 9.8rem;
  font-weight: 700;
}

.heading-primary--second-word {
  font-size: 7.4rem;
  font-weight: 500;
  color: #d598a0;
}
